body{
  margin: 0px auto;
}

.raffle{
  display: table-cell;
  vertical-align: middle;
  width: 1004px;
  height: 748px;
  text-align: center;
  overflow: hidden;
  padding: 10px;
}

.ticket{
  font-weight: bold;
  font-family: Helvetica;
  color: white;
  display: inline-block;
  border: 2px solid #ccc;
  box-shadow: .25em .25em .25em #888;
  margin: 0em .25em .25em 0em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  border-radius: 0px 1em;
  background-color: blue;
}

.ticket:hover{
  cursor: pointer;
  background-color: black;
}

.hidden{
  display: none;
}
