body{
  margin: 0px auto;
}

.raffle{
  width: 1024px;
  height: 768px;
  overflow: hidden;
  text-align: center;
}

.ticket{
  font-weight: bold;
  font-family: Helvetica;
  color: white;
  display: inline-block;
  border: 2px solid #ccc;
  box-shadow: 5px 5px 5px #888;
  padding: .25em;
  margin: .25em;
  font-size: 21.25px;
  width: 2em;
  text-align: center;
  border-radius: 0px 1em;
  background-color: blue;
}

.ticket:hover{
  cursor: pointer;
  background-color: black;
}

.hidden{
  display: none;
}
